.l-container .l-grid--content{
    background-color: #fff;
}
.content{
    margin-top: 30px;
}
.content h2{
    color: #4657d0;
    font-weight: 600;
    font-size: 22px;
}
.content p{
    color: #000;
    font-size: 15px;
}
.content a{
    text-decoration: none;
    padding-left: 7px;
}
.content a::before{
    content: "";
	height: 0.188rem;
	background: rgb(220, 237, 31);
	position: absolute;
	width: 1.25rem;
	margin: 0 auto;
}
